version: 2.1
jobs:
  "Go build":
    docker:
      - image: circleci/golang:1.15
    steps:
      - checkout
      - run: go build -v ./...
      - run: go test -v ./...
      - run:
          name: Test generation from CLI
          command: rm gen/fixtures/types_with_values.enum* || go build cmd/main.go && ./main -w -t gen/fixtures/types_with_values.go
      - run:
          name: Ensure generated content are same as existing fixtures
          command: ci/ensure_git_status_clean.sh
workflows:
  go:
    jobs:
      - "Go build"
