version: 2.1
jobs:
  "Go build":
    docker:
      - image: circleci/golang:1.16
    resource_class: small
    steps:
      - checkout
      - run: go build -v ./...
      - run: go test -v ./...
      - run:
          name: Build CLI binary
          command: go build main.go
      - run:
          name: Delete existing generated fixtures
          command: rm gen/fixtures/types_with_values.enum*
      - run:
          name: Test generation from CLI
          command: ./main -w -t gen/fixtures/types_with_values.go
      - run:
          name: Ensure generated content are same as existing fixtures
          command: ci/ensure_git_status_clean.sh
  "Go lint":
    docker:
      - image: golangci/golangci-lint:v1.41.0
    resource_class: small
    steps:
      - checkout
      - run:
          command: golangci-lint run --timeout 3m
workflows:
  go:
    jobs:
      - "Go build"
